* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

body {
    background-color: rgb(27, 27, 27);
}

/* SECTION 1 */

#section1 {
    width: 100%;
    padding: 20px;
    background-color: #111517;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
}


#section-1__dropdown {
    margin: 30px;
    width: 20%;
    font-weight: bold;
}

.Select-value {
    background-color: black;
    color: white;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label {
    color: white;
}

.Select-menu-outer {
    background-color: black;
    color: white;
}

.Select.has-value.is-focused>.Select-control>.Select-multi-value-wrapper>.Select-value>span {
    color: white;
}


#section1 .card__title
{
    cursor: pointer;
    color: white;
    font-size: 1rem;
}

#section-1__stats {
    width: 100%;
    display: flex;
    padding: 50px;
} 

.stats-card {
    width: 33%;
    cursor: pointer;
    border: 1px solid rgb(226, 226, 226);
    margin: 0px 30px;
    border-radius: 1rem;
    padding: 20px;
    background: linear-gradient(145deg, #1b1b1b, #303030);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Effect on hovering */
.stats-card:hover {
    transform: scale(1.1);
}

.card__icon {
    padding: 0 20px;
}

.card__title {
    padding: 20px;
    font-size: 20px;
}

.card__value {
    font-size: 26px;
    font-weight: 700;
    padding: 0px 20px;
}

/* SECTION 2 */

#section2 {
    width: 100%;
    padding: 20px;
    max-height: 100vh;
}

#container-section-2 {
    width: 100%;
    height: 100%;
}

#longest-workout-container {
    width: 100%;
    display: flex;
    padding: 40px;
}

#longest-workout-container > div {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section-2-title {
    color: white;
    padding: 0px 40px;
}

#section-2-graph {
    width: 100%;
    height: 100%;
    padding: 20px 40px;
}

#section-2-graph > .graph {
    width: 100%;
    height: 100%;
    background-color: green;
    margin-top: 20px;
}

/* SECTION 3 */

#section3 {
    width: 100%;
    padding: 20px;
    max-height: 100vh;
}

#container-section-3 {
    width: 100%;
    height: 100%;
}

#set-goal-container {
    width: 100%;
    display: flex;
    padding: 40px;
}

#set-goal-container > div {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section-3-title {
    color: white;
    padding: 0px 40px;
}

#section-3-graph {
    width: 100%;
    height: 100%;
    padding: 20px 40px;
}

#section-3-graph > .graph {
    width: 100%;
    height: 100%;
    background-color: green;
    margin-top: 20px;
}

/* SECTION 4 */

#section4 {
    width: 100%;
    height: 100vh;
    padding: 20px;
    max-height: 100vh;
}

#container-section-4 {
    width: 100%;
    height: 100%;
}

#sub-container-section-4 {
    width: 100%;
    height: 20%;
}

#sub-container-section-4 {
    width: 100%;
    display: flex;
    padding: 40px;
}

#sub-container-section-4 > div {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main {
    width: 100%;
    height: 80%;
    display: flex;
}

#left-sideBar {
    width: 25%;
    height: 100%;
    padding: 40px;
    border-right: 1px solid white;
}

#left-sideBar > div {
    width: 100%;
}

#workout-details {
    padding: 40px 100px;
    width: 100%;
}

#main-stats-div {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

#main-stats-div > h3 {
    color: white;
    padding: 0px 20px;
}

#main-stats-div > div {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

#main-stats-div > div > .row-details {
    width: 100%;
    /* flex: 1 1 50%; */
    display: flex;
    margin-bottom: 10px;
}

#main-stats-div .details-card {
    width: 25%;
    height: 100%;
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 16px;
    cursor: pointer;
    margin-right: 10px;
}

#main-stats-div .details-card:hover {
    background: linear-gradient(145deg, #000000, #535353);
}

.details-card > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.details-card > div > h5 {
    font-size: 22px;
}

.details-card > div > p {
    font-size: 22px;
}

#other-stats-div {
    margin-top: 20px;
    width: 100%;
    height: 50%;
    padding: 0 20px;
}

#other-stats-div > h3 {
    color: white;
    padding: 20px 0px;
}

#other-stats-div > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#other-stats-div > div > .row-details {
    width: 100%;
    display: flex;
}

#other-stats-div > div > .row-details > .details-card {
    width: 33%;
    height: 75%;
    padding: 10px;
    color: white;
    border-radius: 16px;
    cursor: pointer;
    border: 1px solid white;
    margin-right: 10px;
}

.details-card:hover {
    background: linear-gradient(145deg, #000000, #535353);
}

/* .workout-details-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.workout-details-card {
    padding: 30px;
    border: 1px solid white;
    border-radius: 16px;
    cursor: pointer;
} */